In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv('/content/data.csv')

In [22]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.332734         0   36          1          -1              0
1  101.488868         1   88          0           0              1
2   98.295029         1   71          1          -1              1
3   99.440096         1   80          0           1              0
4   98.917922         1    6          1           1              0

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df.shape

(2575, 6)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [26]:
df.describe()

             fever     bodyPain  ...   diffBreath  infectionProb
count  2575.000000  2575.000000  ...  2575.000000    2575.000000
mean    100.022494     0.493981  ...    -0.006214       0.514175
std       1.169163     0.500061  ...     0.810264       0.499896
min      98.000537     0.000000  ...    -1.000000       0.000000
25%      98.979986     0.000000  ...    -1.000000       0.000000
50%     100.031807     0.000000  ...     0.000000       1.000000
75%     101.045854     1.000000  ...     1.000000       1.000000
max     101.997330     1.000000  ...     1.000000       1.000000

[8 rows x 6 columns]

In [27]:
df.isnull().sum()

fever            0
bodyPain         0
age              0
runnyNose        0
diffBreath       0
infectionProb    0
dtype: int64

Train Test Splitting

In [28]:
def train_test_split(data, ratio):
  np.random.seed(56)
  shuffled = np.random.permutation(len(data))
  test_set_size = int(len(data)*ratio)
  test_indices = shuffled[:test_set_size]
  train_indices = shuffled[test_set_size:]
  return data.iloc[train_indices], data.iloc[test_indices]

In [29]:
train, test = train_test_split(df, 0.2)

In [30]:
train.shape, test.shape

((2060, 6), (515, 6))

In [33]:
x_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
x_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [35]:
y_train = train[['infectionProb']].to_numpy().reshape(2060,)
y_test = test[['infectionProb']].to_numpy().reshape(515,)

In [36]:
x_train.shape, y_train.shape

((2060, 5), (2060,))

In [37]:
x_test.shape, y_test.shape

((515, 5), (515,))

Create the Model

In [38]:
from sklearn.linear_model import LogisticRegression

In [39]:
clf = LogisticRegression()

In [40]:
clf.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [41]:
y_pred = clf.predict(x_test)

In [42]:
clf.score(x_train, y_train)

0.5160194174757281

In [43]:
clf.score(x_test, y_test)

0.5281553398058253

In [49]:
inputFeatures = [102, 1, 22, -1, 1]
infProb =clf.predict_proba([inputFeatures])[0][1]

In [50]:
infProb

0.515202929138833